.wrapper-btn1,
.wrapper-btn2,
.wrapper-btn3 {
  width: 60px;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  height: 35px;
  margin-left: 5px;
}

.wrapper-btn1 {
  background-color: lightcoral;
  color: white;
}

.wrapper-btn2 {
  background-color: lightskyblue;
  color: white;
}

.wrapper-btn3 {
  background-color: goldenrod;
  color: white;
}
