.counter-btn1,
.counter-btn2 {
  width: 80px;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  height: 35px;
  margin: 5px;
}

.counter-btn1 {
  background-color: palegreen;
  color: white;
}

.counter-btn2 {
  background-color: lightseagreen;
  color: white;
}
