.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
}

.like,
.dis-like {
  cursor: pointer;
  font-size: 24px;
  margin: 0 10px;
  color: #333;
}

.like-counter {
  font-size: 24px;
  margin: 0 10px;
  color: #333;
}
